{% extends 'base-course-next.html' %}

{% block head %}
<title>OnGuard - 1.1 Importance of Cybersecurity in the Workplace</title>
{% endblock %}

{% block content %}
<h2>1.2 Overview of Common Threats</h2>
<p>When looking at the common threats to a company in relation to cyber security, you can categorize the possibilities into these 3 groups:</p>
<ul>
    <li><p><b>Social engineering</b></p></li>
    <li><p><b>Malware</b></p></li>
    <li><p><b>Insider threat</b></p></li>
</ul>
<p><b>Social engineering attacks are done through the manipulation of employees.</b> This can for example be through a customer service call, where a cyber criminal posing as a customer could trick an employee into giving them valuable information like passwords. Often, with attacks like these, it can be pretty common that the employee being manipulated doesn’t even know what’s actually going on.</p>
<p><b>Malware attacks are the most well known, where cyber criminals will attack through the use of malicious software.</b> This can be very dangerous, especially with ransomware, which encrypts all of a company's data and demands payment for decryption. These attacks in particular are super dangerous to businesses, as they can cost a lot of money to deal with. This is particularly so with small businesses, as sometimes they are forced to shut down because they cannot pay off the ransomware or rebuild properly.</p>
<p><b>Insider threats are threats that source from the employees of a company. This can be caused both on purpose or accidentally, but either way it is certainly an issue.</b> Because accidents can still cause major damage, it’s very important that a company properly trains all employees.</p>
<p>The most important thing to keep in mind is that all the threats mentioned above are all really dangerous for companies. No one’s immune, major companies are taken down by these attacks, which is why it’s so important to be protected from them. In fact, if you look up recent cyber attacks, countless known companies are constantly under attack by some threat.</p>
<p>These attacks don’t only cause harm to the companies either, as often credit cards, password, and customer information is stolen in mass amounts. This can lead to direct attacks on customers, including identity theft through leaked credit cards, among other consequences.</p>

<p>Summary:</p>
<ul>
    <li><p>3 types of attacks</p>
        <ul>
            <li><p>Social engineering attacks</p></li>
            <li><p>Malware attacks</p></li>
            <li><p>Insider threats</p></li>
        </ul>
    </li>
    
    <li><p>These attacks are very dangerous</p></li>
    <li><p> These attacks effect both the company and the customer</p></li>
</ul>
{% endblock %}