{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>Please select your favorite Web language:</p>
<label for="html"><input type="radio" id="html" class="radioButton" name="fav_language" value="HTML">HTML</label><br>
<label for="css"><input type="radio" id="css" class="radioButton" name="fav_language" value="CSS">CSS</label><br>
<label for="javascript"><input type="radio" id="javascript" class="radioButton" name="fav_language" value="JavaScript">JavaScript</label></div>

<div class="radioAlign"><p>Please select your favorite Web language:</p>
<label for="html"><input type="radio" id="html" class="radioButton" name="fav_language" value="HTML">HTML</label><br>
<label for="css"><input type="radio" id="css" class="radioButton" name="fav_language" value="CSS">CSS</label><br>
<label for="javascript"><input type="radio" id="javascript" class="radioButton" name="fav_language" value="JavaScript">JavaScript</label></div>

<div class="radioAlign"><p>Please select your favorite Web language:</p>
<label for="html"><input type="radio" id="html" class="radioButton" name="fav_language" value="HTML">HTML</label><br>
<label for="css"><input type="radio" id="css" class="radioButton" name="fav_language" value="CSS">CSS</label><br>
<label for="javascript"><input type="radio" id="javascript" class="radioButton" name="fav_language" value="JavaScript">JavaScript</label></div>

<div class="radioAlign"><p>Please select your favorite Web language:</p>
<label for="html"><input type="radio" id="html" class="radioButton" name="fav_language" value="HTML">HTML</label><br>
<label for="css"><input type="radio" id="css" class="radioButton" name="fav_language" value="CSS">CSS</label><br>
<label for="javascript"><input type="radio" id="javascript" class="radioButton" name="fav_language" value="JavaScript">JavaScript</label></div>

<div class="radioAlign"><p>Please select your favorite Web language:</p>
<label for="html"><input type="radio" id="html" class="radioButton" name="fav_language" value="HTML">HTML</label><br>
<label for="css"><input type="radio" id="css" class="radioButton" name="fav_language" value="CSS">CSS</label><br>
<label for="javascript"><input type="radio" id="javascript" class="radioButton" name="fav_language" value="JavaScript">JavaScript</label></div>
{% endblock %}
