{% extends 'base-course-next.html' %}

{% block content %}
<h2>3.1 Recognizing Suspicious Emails and Links</h2>
<p> 
	Being able to recognize and safely deal with suspicious emails and links could prevent severe cyberattacks. 
    These are very common methods of attacks, <b>and sometimes they can be very hard to identify.</b> However, 
    because of the danger associated with malicious emails and links it's extremely important to understand the signs 
    that a link or email is dangerous.
</p>

<p>Common Identifiers of Suspicious Emails:</p>
<ul>
    <li><p><b>Unfamiliar Sender: </b>The email is from someone who you don't know or a company that you aren't aware of. 
        <b>The email address itself could also be the same as one of your coworkers or a company but with a slight
        change in the characters.</b></p></li>
    <li><p><b>Urgency:</b>The email creates a <b>sense of stress or importance in order to get you to act less logically when 
        interacting with it.</b> An example of this is an email saying that your account will be deleted if you don't log in 
        through this link.</p></li> 
    <li><p><b>Poor Spelling or Grammar: </b>If an email has improper grammar or structure it means that it is more likely 
        to be from a <b>malicious sender who doesn't understand the language that they are sending the email in.</b>
        Branding/logo looking off in design or position can also be a similar sign.</p></li>
        <img src="https://images.squarespace-cdn.com/content/v1/5aa96c579772aea9adaa2ef7/89a56e64-a877-4a45-bcfa-c2a643159008/HowToSpot+PhishingEmail_4_1022.jpg" width="30%">
        <p class="source">https://images.squarespace-cdn.com</p>
    <li><p><b>Asks for Sensitive Info: Companies will never ask for your sensitive information over email,</b>
        like logins and such, so if anyone asks for your sensitive information it's very likely to be for 
        malicious purposes.</p></li>

</ul>
<p><b>If you've encountered a suspicious email, let your IT department know.</b> Do not interact with anything on the email, as even opening a link to a website without entering anything into it can cause malware to spread into your company's network.</p>

<h2>Summary</h2>
<ul>
    <li><p>Suspicious emails may have unfamiliar senders, urgency, or request sensitive info.</p></li>
    <li><p>Check links by hovering, avoid shortened URLs, and be cautious with unusual attachments.</p></li>
    <li><p>Report to IT and do not interact.</p></li>
</ul>
{% endblock %}