{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. What is a common sign of a suspicious email?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">Familiar sender but urgent tone</label>
<label><input type="radio" class="radioButton" name="question_1" value="b">Poor spelling or grammar</label>
<label><input type="radio" class="radioButton" name="question_1" value="c">Requests for sensitive information</label>
<label><input type="radio" class="radioButton" name="question_1" value="d">All of the above</label></div>

<div class="radioAlign"><p>2. What should you check to ensure a website is secure?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">If it has a ".com" domain</label>
<label><input type="radio" class="radioButton" name="question_2" value="b">If the site displays advertisements</label>
<label><input type="radio" class="radioButton" name="question_2" value="c">If the URL starts with HTTPS</label>
<label><input type="radio" class="radioButton" name="question_2" value="d">If the website name is long and complex</label></div>

<div class="radioAlign"><p>3. Which of the following is NOT recommended for strong password security?</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Using a unique password for each account</label>
<label><input type="radio" class="radioButton" name="question_3" value="b">Reusing a password across multiple accounts</label>
<label><input type="radio" class="radioButton" name="question_3" value="c">Including a mix of characters, numbers, and symbols</label>
<label><input type="radio" class="radioButton" name="question_3" value="d">Enabling two-factor authentication</label></div>

<div class="radioAlign"><p>4. How can you identify a suspicious link?</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">By checking the link by hovering before clicking</label>
<label><input type="radio" class="radioButton" name="question_4" value="b">By clicking immediately to see the content</label>
<label><input type="radio" class="radioButton" name="question_4" value="c">If it is a shortened URL from a known sender</label>
<label><input type="radio" class="radioButton" name="question_4" value="d">Links are always safe from coworkers</label></div>

<div class="radioAlign"><p>5. What is a key step to take after receiving a suspicious email?</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">Delete the email without reporting</label>
<label><input type="radio" class="radioButton" name="question_5" value="b">Open any attachments to confirm they are malicious</label>
<label><input type="radio" class="radioButton" name="question_5" value="c">Report the email to IT and avoid interacting with it</label>
<label><input type="radio" class="radioButton" name="question_5" value="d">Forward the email to all coworkers as a warning</label></div>
{% endblock %}