{% extends 'base-course-next.html' %}

{% block content %}
<p>Phishing and social engineering are both pretty major threats to a company and it’s workplace. <b>Phishing is when cybercriminals impersonate legitimate individuals</b> 
    through email or other forms of contact, and <b>social engineering is when cybercriminals manipulate employees in order to gain access</b> to a company that they shouldn’t 
    otherwise have. These threats are very common in the modern world, because of how easy it is to exploit vulnerable employees. This is why it is so important to be 
    aware of these threats, so that you can better fortify yourself against these threats.</p>

<p><b>Phishing is commonly done through email,</b> where a cybercriminal will fake being a real company or person in order to get a user to download or somehow hand access 
    to the company over to the criminal. Common methods include the following:</p>

<b>
<ul>
    <li><p>Using fake emails/sites in order to look like trusted individuals or companies</p></li>
    <li><p>Fraudulent links</p></li>
    <li><p>Illegitimate attachments</p></li>
</ul>
</b>

<p>Whenever you encounter a phishing attempt, do not interact with it, and if you think that it’s a serious threat, <b>like if it looks like it was tailored to you specifically 
    (which can be done by bad actors),</b> report it to an administrator. An example of what this might look like is the following:</p>

<div class="separate">
    <p>Dear [Your Name],</p>
    <p>We have detected unusual activity on your [Bank/Service Provider] account and need you to verify your account immediately to ensure your security.</p>
    <p>Please log in to your account using the secure link below to review recent activity:</p>
    <p><a>Click here to verify your account</a></p>
    <p>If you do not verify your account within 24 hours, it may be temporarily suspended.</p>
    <p>Thank you for your prompt attention to this matter.</p>
    <p>Sincerely,</p>
    <p>[Fake Support Team]</p>
    <p>[Bank/Service Provider Name]</p>
</div>

<p>Social Engineering is also a major threat, which is when <b>cybercriminals manipulate individuals to get access to a company.</b> This is usually done through phone 
    calls, and often employees do not know that they are being attacked, <b>which is why it’s important to offer the minimal amount of information to people over the phone,</b> 
    especially with strangers. Common examples of social engineering are the following:</p>

<ul>
    <li><p>Pretexting: <b>Creating fake scenarios to get access to information</b></p></li>
    <li><p>Baiting: <b>Using the promise of services or goods</b></p></li>
    <li><p>Tailgating: <b>Following employees into restricted areas</b></p></li>
</ul>

<p><b>Social engineering attacks can also be physical,</b> with there being many examples of cybercriminals just walking into office spaces, being let through just because 
    they are dressed like they belong there, so be aware of strangers in ones environment.</p>

<p>Lastly, <b>social engineering attacks may create feelings of urgency or fright</b> in order to manipulate employees, so be aware of this when interacting with strangers.</p>

<h2>Summary</h2>
<ul>
    <li><p>Phishing and social engineering are major workplace threats</p></li>
    <li><p>Phishing involves fake emails, links, or attachments to impersonate trusted entities</p></li>
    <li><p>Social engineering manipulates employees through psychological or physical tactics</p></li>
    <li><p>Awareness and caution are key to preventing these attacks</p></li>
</ul>
{% endblock %}