{% extends 'base-course-next.html' %}

{% block content %}
<h2>2.2 Malware, Ransomware, and Viruses</h2>

<p><b>Malware, or malicious software, can bring heavy damage to organizations and individuals.</b> In fact, there are often cases where malware 
    attacks, especially when targeted towards smaller companies, <b>bring companies to bankruptcy.</b> This is why it is so incredibly important to 
    be knowledgeable on these threats, and on how to mitigate them.</p>

<p>Malicious actions that malware usually undertakes usually include some form of disruption, damage, or unauthorized accessing of information. 
    The following are the most common forms of malware:</p>

<ul>
    <li><p>Viruses: <b>Need to be executed through direct user interaction</b> (clicking on fraudulent emails, etc.)</p></li>
    <li><p>Worms: <b>Replicate and execute themselves throughout a computer network</b></p></li>
    <li><p>Ransomware: <b>Encrypt a computer or networks data and demand payment for encryption</b></p></li>
    <li><p>Trojans: <b>Malicious software that is disguised as non-malicious software</b></p></li>
    <li><p>Spyware and adware: <b>Collect user data on a computer (keyboard inputs, etc.), or display unwanted advertisements</b></p></li>
</ul>

<p>Ransomware particularly is a major threat to organizations, because of how they encrypt crucial systems. Nearly 
    all companies nowadays heavily rely off computers and stored data, so <b>if this is encrypted it can cripple a company. This is especially 
    so with smaller companies that don’t have the capital to rebuild.</b></p>

<a href="https://www.researchgate.net/figure/Typical-steps-of-ransomware-life-cycle_fig1_358935717">
<img src="https://www.researchgate.net/profile/Umme-Zahoora/publication/358935717/figure/fig1/AS:11431281087510686@1664675771852/Typical-steps-of-ransomware-life-cycle.png" 
alt="Typical steps of ransomware life cycle"/></a>

<p>This is why it is important to not only be aware and keep oneself safe from malware, but also to take other preventive measures like making sure that all of 
    one's data is backed up (although this is usually managed by the organization.)</p>

<h2>Summary</h2>
<ul>
    <li><p>Malware can disrupt, damage, or steal information from systems</p></li>
    <li><p>Common types include viruses, worms, ransomware, trojans, spyware, and adware</p></li>
    <li><p>Ransomware is particularly dangerous, encrypting critical data and demanding payment</p></li>
    <li><p>Awareness and preventive measures, like data backups, are essential to mitigate risks</p></li>
</ul>
{% endblock %}