{% extends 'base-course-next.html' %}

{% block content %}
<p>While threats generally source from outside an organization, there are also many <b>instances where threats source from within 
    organizations,</b> hence the name “Insider threats”. These may sound like less dangerous, however insider threats actually are sometimes 
    more dangerous than external threats because these attackers often already have authorization within the company.</p>

<p>There are many types of insider threats, and not all of them are intentionally damaging to the organization:</p>

<ul>
    <li><p>Malicious insiders: <b>Employees/contractors who intentionally cause damage.</b></p></li>
    <li><p>Negligent insiders: <b>Employees who unintentionally cause damage.</b></p></li>
    <li><p>Compromised insiders: <b>Employees who have had their accounts or authorization hijacked by an external actor.</b></p></li>
</ul>

<p>Identifying insider threats is very essential. Coworkers <b>with malicious intent might have changed behavior or work habits,</b> or 
    might be <b>asking for additional access or downloads of data then before.</b> Additionally, your IT department might use detection 
    tools or track unusual patterns in the companies systems.</p>

<p><b>Most of the prevention against insider threats is handled by the company, but as an employee you should still follow certain rules.</b> 
    Well protected companies often have very strict privileges systems, maintain their security softwares, conduct regular audits, and 
    provide cyber security training to their workforce.</p>

<p>Some common reasons for insider threats are for revenge for getting fired, or for financial benefit. This is surprisingly common, 
    and more often than not these individuals regain access to the company through unclosed work accounts. One should keep in mind that 
    no matter what the scenario is, attacking a former place of employment like this causes unbelievable harm, and should not be done. 
    This is not including how this is also deeply illegal.</p>

<p>As an employee you should make sure to stay up to date on your companies security policies, and also should generally be very 
    suspicious and cautious when sharing information. If you think you have observed any sort of suspicious activity, it is your job 
    and of the upmost importance that you let someone know.</p>

<h2>Summary</h2>
<ul>
    <li><p>Insider threats, including malicious, negligent, and compromised insiders, can be highly dangerous</p></li>
    <li><p>Employees must follow security policies, stay cautious, and report suspicious activity</p></li>
</ul>
{% endblock %}