{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	After identifying and reporting a cybersecurity incident, it will likely be escalated to an in-house expert.
</p>

<p>The escalation process is meant to be stream-lined and easy.
</p>

<ol>
    <li><p>All incidents must be reported to the same place.</p>
        <ul>
            <li><p>Typically an in-house IT office or the service desk</p></li>
            <li><p>Provides people with a single point of contact</p></li>
        </ul>
    </li>

    <li><p>Incidents are logged</p>
        <ul>
            <li><p>This is to make investigating the cause, assessing the risk, and future prevention methods</p></li>
        </ul>
    </li>
    
    <li><p>Different companies' <b>Incident Management Processes</b> (how it's investigated, who it's sent to, etc) may differ from each other</p></li>
    
    <li><p>The issue is tracked and sent to someone who knows how to deal with it (sometimes a group) They then make a plan on how to deal with it</p>
        <ul>
            <li><p>Extra resources or time may be allocated depending on how difficult or urgent the incident is</p></li>
            <li><p>If they themselves don't know how to deal with it, they escalate it again to someone else</p></li>
        </ul>
    </li>

    <li><p>The issue is solved and closed</p></li>

    <li><p>The status of the issue is communicated to the persons affected and the person who reported it</p>
        <ul>
            <li><p>At least once at the end</p></li>
            <li><p>If fixing it takes lots of time and resources, status should be reported often, even if it's not yet fixed.</p></li>
        </ul>
    </li>
    <li><p>Even after it's fixed, an eye should be kept on it for some extra time to make sure the fix works. </p></li>
</ol>

<p>This process makes it so time is spent more efficiently. Simply put, if you can't (or are simply not allowed to) handle it yourself, escalation lets 
    the issue go to someone with more specialized knowledge. If they themselves can't handle the issue, it escalates again, and so on and so on. </p>

<p>The issue is less likely to pop up again due to guidelines that may be set in place after the issue is resolved</p>

<h2>Summary</h2>
<ul>
    <li><p>Issues are reported to one centralized place</p></li>
    <li><p>The issue is tracked and the one who reported it gets updated on the progress</p></li>
    <li><p>If the person the issue got delegated to is unable to fix it, the issue is escalated to someone else</p>
        <ul><li><p>Repeat if the new person also can't fix it quickly</p></li></ul>
    </li>

</ul>
{% endblock %}