{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Workers are still human, and mistakes will always happen regardless of how trained they are.

</p>
<p>After being subjected to an incident, one should report it immediately, be it social engineering, phishing, or even something more traditional like getting your 
    wallet stolen and it had a keycard inside.</p>

<p><b>Incidents of large scale that can compromise public health, national security, or economic security should be reported to the relevant authorities.</b></p>

<p>Below are different ways (vectors) cybersecurity attacks may happen</p>
<img src="https://imgur.com/a/Q0qEKTB" width="30%">
<p class="source">https://www.cisa.gov/federal-incident-notification-guidelines</p>

<p>Early reporting is the best way to stop further damages from occurring, never mind the fact that hiding such incident’s occurrences will likely get you fired 
    or even your company fined.</p>

<p>Confidential data is illegal to share publicly. This is called a data breach and is sometimes an example of <b>breach of contract.</b></p>

<p>Always escalate. An office worker can rarely fix the damages they can cause, nevermind do it quickly enough to stop damages.</p>

<h2>Summary</h2>
<ul>
    <li><p>Always report incidents if you are aware of them</p></li>
    <li><p>Employees may be fired if they don't report incidents</p></li>
    <li><p>Escalate, be it to IT or if the breach is dangerous, to emergency services. Issues like this are typically best handled by professionals</p></li>
</ul>
{% endblock %}