{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Companies don’t like it when you keep secrets from them. This is especially true when the secret is an issue you are withholding from them.
</p>

<p> 
	Issues take lots of time to deal with, especially if they are related to a complicated system or something that requires approval or even 
    legal documents like permits or court orders to change.
</p>
<p>By reporting issues early you:</p>
<ul>
    <li><p>Let people who resolve those issues have more time to work on and plan around the issue</p></li>
    <li><p>Minimize damage by alerting customers/users on potential insecurities.</p>
        <ul><p>Certain features may be removed temporarily as a “<b>lockdown</b>” to prevent further issues until the issue is fixed</p></ul>
    </li>
    <li><p>Increase trust (withholding issues from users is often scandalous)</p></li>
    <li><p>Allow number of victims to be tracked</p></li>
    <li><p>Allow the root of the issue to be found</p>
        <ul><p>The root may be in a <b>log file</b>, log files are <i>typically deleted after some time</i>, making the root of the issue harder to find</p></ul>
    </li>
    <li><p>Give less time for bad actors to use vulnerability to their advantage</p></li>
    <li><p>Avoid being fired</p></li>
</ul>

<h2>Summary</h2>
<ul>
    <li><p>Report issues quickly</p></li>
    <li><p>This gives more time to work the issue out</p></li>
    <li><p>This gives less time for the issue to cause problems</p></li>
</ul>
{% endblock %}