{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. Which of these incident reporting methods are you less likely to see?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">Going directly to the head engineer/programmer</label>
<label><input type="radio" class="radioButton" name="question_1" value="b">Making a ticket to the IT department</label>
<label><input type="radio" class="radioButton" name="question_1" value="c">Going to the front desk</label></div>

<div class="radioAlign"><p>2. What is the way a company resolves its incidents called?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">Most old ciphers are insecure and susceptible to code-breaking</label>
<label><input type="radio" class="radioButton" name="question_2" value="b">An asymmetric cipher has two keys</label>
<label><input type="radio" class="radioButton" name="question_2" value="c">Encryption meant to authenticate is called a Digital Signature</label>
<label><input type="radio" class="radioButton" name="question_2" value="d">Brute force is a type of encryption</label></div>

<div class="radioAlign"><p>3. What is it called when an issue is sent up to someone else (typically more qualified)?</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Involvement</label>
<label><input type="radio" class="radioButton" name="question_3" value="b">Reassignment</label>
<label><input type="radio" class="radioButton" name="question_3" value="c">Deflection</label>
<label><input type="radio" class="radioButton" name="question_3" value="d">Escalation</label></div>

<div class="radioAlign"><p>4. True or False? Releasing a confidential document without legal reason may be “Breach of Contract”</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">True</label>
<label><input type="radio" class="radioButton" name="question_4" value="b">False</label></div>

<div class="radioAlign"><p>5. To minimize damage, some features (sometimes the entirety) of a site/app may be disabled. What is this called?</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">Removal</label>
<label><input type="radio" class="radioButton" name="question_5" value="b">Lockdown</label>
<label><input type="radio" class="radioButton" name="question_5" value="c">Downtime</label>
<label><input type="radio" class="radioButton" name="question_5" value="d">404</label></div>
{% endblock %}