{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	To properly secure the workplace, there are many practices/policies companies set in place.
</p>

    <ul>
        <li><p><b>Visitors: </b></p>
            <ul>
                <li><p>Visitors are typically restricted in areas they are allowed to go and how much they can interact with anything in the workplace. It's common for hackers to visit places they want to attack to get a better idea of how things work (who's the boss, who seems the most vulnerable) 
                    and you don't want to add on them seeing possibly classified things on top of that.</p></li>
            </ul>
        <li><p><b>Devices must always be locked when not in use: </b></p>
            <ul>
                <li><p>A minute-long issue you need to step away to resolve is all it takes for someone to peek at your data or what you're working on. Getting access to an employee's account is already extremely damaging to a company. Getting access to 
                    a whole computer with every file they had can only be worse.</p></li>
            </ul>
        <li><p><b>Don't answer questions: </b></p>
            <ul>
                <li><p>This isn't to be mean or unhelpful, hackers often ask questions relating to employee's habits like (for example) if there are any good places to eat nearby their workplace. They will use this information to find employees during these food trips and copy an 
                    ID badge for building entry.</p></li>
            </ul>
        <li><p><b>Be careful with social media: </b></p>
            <ul>
                <li><p>It is extremely easy to accidentally share something hackers can use to gain access to something, social engineer someone, or blackmail someone.</p></li>
            </ul>
        <li><p><b>Conduct security audits: </b></p>
            <ul>
                <li><p>If a data breach occurs, the organization must notify customers ASAP</p></li>
            </ul>
        <li><p><b>Develop an incident plan: </b></p>
            <ul>
                <li><p>Despite your best efforts, someone will forget a safety precaution or even maliciously do something. An incident plan is required to address issues that may pop up, especially issues that may pop up often (like someone losing an ID badge or 
                    clicking a phishing link).</p></li>
            </ul>
    
    </ul>
<h2>Summary</h2>
<ul>
    <li><p>Lock devices</p></li>
    <li><p>Obey standards and best practices</p></li>
    <li><p>Develop and use incident plan</p></li>
</ul>
{% endblock %}
