{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Access control is a <i>security protocol</i> that lets certain people in and keeps others out depending on several factors. These include their access levels, <br>the current circumstances (if their shift is currently over or if the company is currently in a lockdown)
</p>

<p>
    An extreme example would be a Janitor having access to the company's most top secret databases just because they work there. This is a problem that Access Controls deal with. Using them, you can block anyone below a certain “rank” <br>from accessing or modifying certain files. In this case, anyone below 
    “Senior Engineer” probably shouldn't have access to that database.
    </p>
<p>Access control works by identifying a user based on credentials like pins and passwords, codes sent to emails/phones, or even biometric scans.</p>



<p>Sometimes organizations may require <b>MFA (Multi Factor Authentication)</b>, where you may be required to provide more than one of the aforementioned credentials.</p>

<p>Well maintained access control makes sure everyone has access to what they need, this way they don't need to constantly email their supervisors or their IT department to fix their accesses. <br>This will increase productivity.</p>


<p>Access control is not only for digital things like files. Access can be controlled for physical things like doors, gates, or secured containers like vaults. A janitor would not (and should not) <br>have access to the bank vault. 
    Tellers, and guards on the other hand are more likely to need or have access to a vault and have them removed when their shifts are over.</p>

    </ul>
<h2>Summary</h2>
<ul>
    <li><p>Don't give people unecessary access</p></li>
    <li><p>Authenticate identities by using credentials</p></li>
    <li><p>Develop and use incident plan</p></li>
</ul>
{% endblock %}
