{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. When should accesses be removed from an employee?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">When their shift is over</label>
<label><input type="radio" class="radioButton" name="question_1" value="b">After they file a support ticket to IT</label>
<label><input type="radio" class="radioButton" name="question_1" value="c">During a meeting</label>
<label><input type="radio" class="radioButton" name="question_1" value="d">All of the above</label></div>

<div class="radioAlign"><p>2. Why might bad actors visit an organization?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">To see who the boss is</label>
<label><input type="radio" class="radioButton" name="question_2" value="b">To see who the most vulnerable person is</label>
<label><input type="radio" class="radioButton" name="question_2" value="c">To find security flaws</label>
<label><input type="radio" class="radioButton" name="question_2" value="d">All of the above</label></div>

<div class="radioAlign"><p>3. Who is the most likely to have access to a secure database?</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Head of Human Resources</label>
<label><input type="radio" class="radioButton" name="question_3" value="b">Janitor</label>
<label><input type="radio" class="radioButton" name="question_3" value="c">Senior Engineer</label>
<label><input type="radio" class="radioButton" name="question_3" value="d">None of the above</label></div>

<div class="radioAlign"><p>4. What does MFA stand for?</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">Multi-Feature Application</label>
<label><input type="radio" class="radioButton" name="question_4" value="b">Multi-Frame Assignment</label>
<label><input type="radio" class="radioButton" name="question_4" value="c">Multi-Factor Authentication</label>
<label><input type="radio" class="radioButton" name="question_4" value="d">Multi-Function Array</label></div>

<div class="radioAlign"><p>5. True or false? It's okay to leave a device unlocked if only for a short time.</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">True</label>
<label><input type="radio" class="radioButton" name="question_5" value="b">False</label></div>
{% endblock %}