{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	As the years go on and the world becomes more and more integrated with technology, everyone is regularly using a greater amount of devices to interact with technology. 
    However, <b></b>each device added creates a new potential vulnerability</b>, and this is especially so within companies. Learning how to keep ones devices safe is very important, 
    as specifically the ones we use to work more often then not have direct connections to company data.

</p>

<p>Maintaining physical security in regards to our devices is one of the most important measures that should be put into place. <b>Never leave ones devices alone in public 
    spaces, and also keep them in bags or cases to make theft less likely to occur</b>. Additionally, just in case a device does get stolen, <b>make sure to setup PINs, passwords, 
    or other locks </b>including biometric based ones so criminals will have a harder time getting access to stolen devices.</p>

<p>Additionally to ensuring physical security, there are some basic steps one can take to increase the security of the information held on a device. <b>Always keep your devices 
    and applications updated</b> to make sure that they are the best equipped against malware. Additionally, <b>use some form of built in antivirus or third party antivirus</b> 
    to further fight off malware. Don't install random files or executables, and make sure to use secure web browsers so you can safely use the internet.</p>

<p>The network your on can also be dangerous, as criminals often use public wifi networks to gain access to data on devices. <b>Try to avoid using public Wi-Fi</b>, 
    because criminals are known to hijack devices through these potentially unprotected networks. Just in case something does happen, <b>try your best to regularly backup your 
    devices data.</b></p>

<p>While using devices themselves, there are also smaller rules to keep in minds during usage. Try to log out of unused accounts or applications, and also <b>never auto-save 
    passwords on devices that are used by more than one individual</b> to make sure that your credentials don't leave access to other unwanted users.</p>

<p>Lastly, <b>keep work and personal data or devices as separate as possible</b> so if either one is breached it won't affect the other. This way, if you for example mess up and 
    install a virus on your personal computer, it won't hurt your work, and if the virus was potentially damaging enough this security measure could save both the company and your 
    job.</p>

<h2>Summary</h2>
<ul>
    <li><p>Secure devices with strong locks, updates, and antivirus.</p></li>
    <li><p>Avoid public Wi-Fi and back up data regularly.</p></li>
    <li><p>Log out of accounts, avoid auto-saving passwords, and separate work and personal data.</p></li>
</ul>
{% endblock %}