{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Keeping software updated <b>is very important to not only one's security, but one's computer performance and quality of life.</b> Because software can often have issues 
    or new features to add, they are often updated years after the software is first released to guarantee it's usability. There are three main types of software updates:

</p>
<ul>
    <li><p><b>Security Updates: </b>Improve upon or patch holes within an applications security. <b>Most major pieces of software are often searched through by malicious actors 
        in order to find vulnerabilities to exploit,</b> so these potential exploits need to be patched up before they can become an actual threat. <b>Exploits found by criminals 
        but not the developers are called zero-day exploits</b>, and these are the most dangerous as they aren't protected against.</p></li>
        
    <li><p><b>Feature Updates: </b>As time goes by, it's important for software to include new features both for ease of use and general improvement. Although these aren't 
        particularly important to cyber security, they do bring quality of life.</p></li> 
    <li><p><b>Performance Updates: </b>Poorly optimized software is not good because <b>it can bog down a computer system, making it harder to work with.</b> This is why it's 
        important to have performance updates, along with not using unoptimized software on ones computer as much as possible. <b>This really becomes a problem when you 
        have many applications installed that run poorly.</b></p></li>
</ul>
<p>Managing updates has for the most part been converted to an automatic process in recent years, where <b>software will usually update itself</b>. However, still check 
    once in a while if your software does need updates. The same goes with your operating system, where there will usually be a tab in the settings menu 
    that displays available updates. Keeping your operating system updates is super important, because just like how software updates can patch against 
    security risks, the same goes with operating systems, and <b>operating system vulnerabilities tend to be much more dangerous.</b></p>

<p>Even though updates may create unwanted downtime where you'd rather be working, especially with longer updates, <b>the consequences of not updating one's system
     regularly are too dire to be ignored</b>. Although in the moment updating might seem like a small deal, <b>the updates are being pushed out for a reason</b>, especially
      with security updates which are regularly pushed out to deal with very real risks. </p>
<img src="https://i.imgur.com/S45o7f6.png" width="30%">
<h2>Summary</h2>
<ul>
    <li><p>Updates fix security flaws, improve features, and optimize performance.</p></li>
    <li><p>Keep software and operating systems updated for safety and efficiency.</p></li>

</ul>
{% endblock %}