{% extends 'base-login.html' %}

{% block head %}
<title>OnGuard</title>
{% endblock %}

{% block body %}
<div class="ver-container noisy">
    <img src="{{ url_for('static', filename='assets/images/logo.png') }}" height="125px" width="312.5px">
    
    <br>

    <a href="{{ url_for('login') }}" class="extend">
        <button type="button" class="b b-alt">
            Login
        </button>
    </a>

    <a href="{{ url_for('register') }}" class="extend">
        <button type="button" class="b b-alt">
            Register
        </button>
    </a>
</div>
{% endblock %}