{% extends 'base-course.html' %}

{% block head %}
<title>OnGuard - Progress</title>
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block content %}
<div class="centerText">
    <h2>Course Progress</h2>
    <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart() {
        
        // Set Data
        const data = google.visualization.arrayToDataTable([
          ['Category', 'Amount'],
          ['Complete',50],
          ['Inprogress',15],
          ['Incomplete',35]
        ]);
        
        // Set Options
        const options = {
          legend: 'none',
          colors:['green', '#EFC725', 'red'],
          chartArea: {
            left: "3%",
            top: "3%",
            height: "94%",
            width: "94%"
            }
        };

        // Draw
        const chart = new google.visualization.PieChart(document.getElementById('myChart'));
        chart.draw(data, options);

        }
    </script>
</div>
{% endblock %}