body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;

  font-family: Arial;
  color: #000000;
}

#ver-container {
  width: 500px;
  margin: auto;
  height: 100vh;
  background-color: rgb(214, 214, 214);
  padding: 0;
  border-left: 2px solid rgb(172, 172, 172);
  border-right: 2px solid rgb(172, 172, 172);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  overflow:hidden;
  background-color: rgb(214, 214, 214);
  border-bottom: 2px solid rgb(172, 172, 172);
  z-index: 1;
}

#account {
  text-align: center;
}

#account p {
  font-size: 2rem;
}

#account-icon {
  padding-right: 5px;
}

#sidebar {
  height: 100vh;
  width: 260px; /* Set the width of the sidebar */
  position:relative;
  bottom: 0; /* Fixed Sidebar (stay in place on scroll) */
  background-color: rgb(214, 214, 214);
  border-right: 2px solid rgb(172, 172, 172);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
  width: fit-content;
}

button {
  cursor: pointer;
}

.b {
  border-radius: 9px;
  border: 0;
  font-size: 20px;
  background: #e6e6e6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown {
  background: transparent;
  border: none !important;
  font-size: 1rem;
  text-align: left;
  width: fit-content;
  padding: 0;
}

.dropdown-content {
  display: none;
  padding-left: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropIcon {
  display: none;
}

.dropdown:hover .dropIcon {
  display: inline;
}

.b:hover {
  background: #ffffff;
  text-decoration: none;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  width: 300px;
  background: #e6e6e6;
  border-radius: 9px;
  border: 0;

  box-sizing: border-box;
}

/* flashing */

.flash-base {
  width: vw;
  text-align: center;
  padding: 5px;
}

/* types of errors */
.error {
  background-color: #a75858;
  color: #ffffff;
}

#passValContainer {
  background-color: #a75858;
  color: #ffffff;

  font-size: .95rem;
  text-align: left;

  padding: 5px;
  border-radius: 10px;
}

#back {
  padding-left: 10px;
  position: fixed;
}

h4 {
  margin: 0;
  margin-top: 12px;
  width: fit-content;
}