/* https://coolors.co/3bc14a-34252f-ff101f-ffffff-a5abaf */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 1.8;
}

#ver-container {
  width: 500px;
  margin: auto;
  height: 100vh;
  background-color: #252525;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  margin-bottom: 15px;
}

.navbar-icon {
  padding: 2px;
  transition: margin 0.2s ease-out;
}

.navbar-icon:hover {
  cursor: pointer;
  margin-bottom: 5px;
}

#header {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  overflow:hidden;
  position: sticky;
  top: 0;
  background-color: #252525;
  z-index: 1;
}

#account {
  text-align: center;
}

#account p {
  font-size: 2rem;
}

#account-icon {
  padding-right: 5px;
}

#content {
  display: flex;
  flex-flow: row;
}

#courseTextContainer {
  margin-left: 410px;
  width: 100%;
  color: black;
}

#courseTextContainer p, h1, h2, h3, h4, h5, h6, ul, ol, img {
  margin-left: 15px;
}

#courseTextContainer li {
  margin-left: 30px;
}

#sidebar {
  height: calc(100vh - 65px);

  width: 395px; /* Set the width of the sidebar */
  position: fixed;
  top: 65px; /* Fixed Sidebar (stay in place on scroll) */
  padding-left: 15px;
  background-color: #252525;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(158, 158, 255);
  width: fit-content;
}

button {
  cursor: pointer;
}

.b {
  border-radius: 9px;
  border: 0;
  font-size: 20px;
  background: #FFFFFF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.next {
  background: #7786a5;
  color: white;
  width: 100%;
  text-align: center;
  border: 0;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.dropdown {
  background: transparent;
  border: none !important;
  font-size: .95rem;
  margin-left: 5px;
  text-align: left;
  width: 100%;
  background-color: #2b2b2b;
  padding: 0;
}

.dropdown-alt {
  background-color: #363636;
}

.dropdown p {
  margin: 0px;
  padding: 6px;
}

.dropdown a {
  font-size: 1.08rem;
}

.dropdown-content {
  display: none;
  padding-left: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropIcon {
  display: none;
}

.dropdown:hover .dropIcon {
  display: inline;
}

.b:hover {
  background: #6b86c0;
  color: white;
  text-decoration: none;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  width: 300px;
  background: #ffffff;
  border-radius: 9px;
  border: 0;

  box-sizing: border-box;
}

/* flashing */

.flash-base {
  width: vw;
  text-align: center;
  padding: 5px;
}

/* types of errors */
.error {
  background-color: #e93232;
  color: #ffffff;
}

#passValContainer {
  background-color: #e93232;
  color: #ffffff;

  text-align: left;

  padding: 5px;
  border-radius: 10px;
}

#passValContainer p {
  font-size: .9rem;
}

#back {
  padding-left: 10px;
  position: fixed;
}

p, li, a {
  font-size: 1.1rem;
}

h4 {
  margin: 0;
  margin-top: 12px;
  width: fit-content;
}

.source {
  margin: 0;
  font-style: italic;
  font-size: .9rem;
}

