{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Everyone has to create passwords eventually, and it is very important that these passwords are strong, as <b>they are 
    the primary defense against attacks to accounts that we hold</b>. There are many steps to maintaining strong passwords, 
    and although quite tedious in some cases, the last place you want to be is in a scenario where you have a breached 
    account, either related to work or personal matters.
</p>

<p> 
	Make sure to have strong passwords. It can seem easy to just reuse an easy to type password for all your accounts,
    <b>but this is actually a massive vulnerability</b>. Just like having an easy password that you reuse all the time can make 
    it easy for you to use it,<b> it also makes it easy for any bad actors to do so.</b>

</p>

<p> 
	When it comes to making passwords, generally one wants to make them as complex as possible. Avoid common passwords, 
    like “password”, but in general you should actually try to have no words, but rather a combination of characters, 
    digits, and special symbols. This offers good protection against a lot of password cracking methods, like brute 
    forcing, the use of dictionary password cracking, and so on. Examples of this would be 
    “j[nU&P(m1#G0[5m”, or “Xq]OK;:ZZ`}q5kt”.
</p>

<p> 
	It isn't always necessary to use these ultra-complex passwords, even though it would be good practice. 
    If the account you're setting up doesn't hold any vital information like bank accounts, or is for something that 
    you just don't really care about, then you don't have to go to such extremes. When it does come to important things, 
    it is a very good idea to maintain this complexity. This always goes for work-related accounts.

</p>

<p> 
	Keep in mind that just because you have such a complex password, you still can't reuse it. <b>If you reuse it and the 
    password gets cracked, then the person who cracked it now has access to not only that account but all the ones that 
    share the same password. In general you should have a completely different password for each website you visit, even
    having a password and then adding the website at the end of it like Xq]OK;:ZZ`}q5kt-LinkedIn is not a secure choice.
</p>

<p> 
	Sharing passwords, by accident or on purpose, is never a good idea. Never open emails/use websites to enter your password unless you are absolutely sure it is the site you think it is.
</p>

<p> 
	<b>Consider enabling two factor authentication on important sites,</b> which makes it that you have to approve every login, usually through your phone. This is widely used and encouraged, as it can significantly boost how secure you are.
</p>

<h2>Summary</h2>
<ul>
    <li><p>Use strong, unique passwords with a mix of characters, numbers, and symbols.</p></li>
    <li><p>Avoid reusing passwords across accounts to prevent widespread breaches.</p></li>
    <li><p>Never share passwords or enter them on suspicious sites.</p></li>
    <li><p>Enable two-factor authentication for added security.</p></li>
</ul>
{% endblock %}