{% extends 'base-landing.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="ui container center aligned" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div style="display: flex; justify-content: center;">
            <div class="ui segment raised very padded" style="text-align: center;">
                <p><b><span class="ui big text">404</span></b></p>
            </div>
        </div>
    </div>
  
{% endblock %}