{% extends 'base-course-next.html' %}

{% block content %}
<img src="https://st.depositphotos.com/1518767/3617/i/450/depositphotos_36174825-stock-photo-students-raising-hands-with-teacher.jpg">
<p class="source">https://st.depositphotos.com/</p>
<p>At this point you have completed practically all of the content that this course has to after, however, this does not mean that after this you can stop learning about cyber security. Since the world of computer science is constantly evolving, <strong>bad actors are too, and there are always new threats being introduced into tech.</strong> Because of this, it is important to always stay up to date with the world of cyber security. This doesn’t mean that one needs to become an expert, but here are some methods to stay up to date:</p>

<ul>
    <li><p><strong>Read news about cyber security</strong></p>
        <ul>
            <li><p>Nearly all major attacks have plentiful news coverage, so just by <strong>occasionally reading recent news from the world of cyber security can help keep you up to date.</strong></p></li>
        </ul>
    
    <li><p><strong>Listen to podcasts</strong></p>
        <ul>
            <li><p>There are many podcasts out there that regularly talk about cyber security topics. One in particular that is quite popular is <i>Darknet Diaries</i>, by Jack Rhysider, which covers a broad range of topics.</p></li>
        </ul>
    
    <li><p><strong>Take additional education</strong></p>
        <ul>
            <li><p>Although this course is meant to be informative, it doesn’t go extremely in-depth into the topics presented. If you now have a greater interest in cyber security, finding books or other courses can also help build your cyber security knowledge.</p></li>
        </ul>
</ul>

<h2>Summary</h2>
<ul>
    <li><p>Cybersecurity is constantly evolving; continuous learning is essential</p></li>
    <li><p>Stay updated by reading cybersecurity news</p></li>
    <li><p>Take additional courses or read books for deeper knowledge</p></li>
</ul>
{% endblock %}
