{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. Why is continuous learning important in cybersecurity?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">Cyber threats constantly evolve</label>
<label><input type="radio" class="radioButton" name="question_1" value="b">Once you learn cybersecurity, you're set for life</label>
<label><input type="radio" class="radioButton" name="question_1" value="c">Hackers have stopped creating new threats</label>
<label><input type="radio" class="radioButton" name="question_1" value="d">Technology never changes</label></div>

<div class="radioAlign"><p>2. Which of the following is a good way to stay updated on cybersecurity trends?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">Ignoring cybersecurity news</label>
<label><input type="radio" class="radioButton" name="question_2" value="b">Reading news about major cyber attacks</label>
<label><input type="radio" class="radioButton" name="question_2" value="c">Avoiding new technology</label>
<label><input type="radio" class="radioButton" name="question_2" value="d">Deleting all social media accounts</label></div>

<div class="radioAlign"><p>3. What is the name of a very popular cybersecurity podcast?</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Cyber Crime Weekly</label>
<label><input type="radio" class="radioButton" name="question_3" value="b">Tech Talk</label>
<label><input type="radio" class="radioButton" name="question_3" value="c">Darknet Diaries</label>
<label><input type="radio" class="radioButton" name="question_3" value="d">Security Today</label></div>

<div class="radioAlign"><p>4. Why should someone consider taking additional cybersecurity courses or reading books?</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">To gain a deeper understanding beyond the basics</label>
<label><input type="radio" class="radioButton" name="question_4" value="b">To become a certified hacker</label>
<label><input type="radio" class="radioButton" name="question_4" value="c">To avoid using computers</label>
<label><input type="radio" class="radioButton" name="question_4" value="d">To replace security software</label></div>

<div class="radioAlign"><p>5. Which of the following is NOT mentioned as a way to stay updated on cybersecurity?</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">Reading cybersecurity news</label>
<label><input type="radio" class="radioButton" name="question_5" value="b">Listening to cybersecurity podcasts</label>
<label><input type="radio" class="radioButton" name="question_5" value="c">Watching movies about hackers</label>
<label><input type="radio" class="radioButton" name="question_5" value="d">Taking additional courses</label></div>
{% endblock %}