{% extends 'base-course.html' %}

{% block head %}
<title>OnGuard - Home</title>
{% endblock %}

{% block content %}
<div id="center-inner" class="background">
<div class="centerText barText left-align">
<br>
  <h2>Congratulations!</h2>
<p>You’re nearly done with the course, and throughout taking it have educated yourself in a broad range of topics in relation to cyber security. This is an important accomplishment, and we as the team behind this project are now confident in your abilities to become more secure in relation to computers and technology, not only for work but also for your home life.</p>
<p>The last step in completing this course is taking a final assessment, made up of 60 questions that prompt you of what you have learned from this course. If you score an 80% or above, you pass, and are given a certificate to prove that you have completed the course.</p>

<h3>Good luck!</h3>
<p>- The Onguard Team</p><br>

<a href="{{ url_for('viewArticle', chapter=12, article=2) }}"><button type="submit" class="b b-alt">Begin!</button></a>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script> <!-- for confetti-->
    <script> <!-- stolen from: confetti.js.org/more.html -->
        const duration = 1 * 1000, 
        animationEnd = Date.now() + duration,
        defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };
        
        function randomInRange(min, max) {
          return Math.random() * (max - min) + min;
        }
    
        const interval = setInterval(function() {
          const timeLeft = animationEnd - Date.now();
        
          if (timeLeft <= 0) {
            return clearInterval(interval);
          }
      
          const particleCount = 50 * (timeLeft / duration);
      
          // since particles fall down, start a bit higher than random
          confetti(
            Object.assign({}, defaults, {
              particleCount,
              origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 },
            })
          );
          confetti(
            Object.assign({}, defaults, {
              particleCount,
              origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 },
            })
          );
        }, 250);
    </script>
{% endblock %}