{% extends 'base-course-next.html' %}

{% block content %}
<p> 
    Social media is a great tool to communicate and advertise to customers both future and current. It is also a great way to obtain feedback.
</p>
<p>Social media can also be an extremely weak link for any company. Examples of this include:</p>

<ul><li><p><b>Phishing attacks.</b> Illegitimate messages/emails (typically with links) used to steal passwords or other data</p>
    <ul>
        <li><p>Spear-phishing attacks are targeted to specific people</p></li>
    </ul>
    </li>

    <li><p><b>Blackmail</b></p>
    <ul>
        <li><p>Bad actors may find dirt on an employee and blackmail them into giving up information or otherwise sabotage the company</p></li>
    </ul>
    </li>

    <li><p><b>Social Engineering</b></p>
    <ul>
        <li><p>Bad actors manipulate employees to reveal information or do things</p></li>
    </ul>
    </li>

    <li><p><b>Oversharing</b></p>
    <ul>
        <li><p>Maybe they work on something meant to be confidential, but spill secretive information accidentally</p></li>
    </ul>
    </li>

    <li><p><b>Data Breaches</b></p>
    <ul>
        <li><p><i>It will be easier to find specific employees that were already subjected to previous data breaches </i>if they publicly advertise themselves as 
            an employee of [blank] organization</p></li>
    </ul>
    </li>

        <li><p><b>Impersonation</b></p>
    <ul>
        <li><p>Bad actors may impersonate the company in social media to make customers click suspicious links.</p></li>
    </ul>
    </li>

        <li><p><b>“Guilty by Association”</b></p>
    <ul>
        <li><p>Not a <i>security issue</i>, but if an employee is unsavory in any way (such as racism, sexism, or any other bad reputation). Their organization's 
            reputation will be soiled.</p></li>
    </ul>
    </li>
</ul>

<p>To avoid such things, employees must be reminded what information is and isn't okay to share. An organization must test their employees' abilities to 
    not be vulnerable to phishing attacks or social engineering and train them accordingly.</p>

<h2>Summary</h2>
<ul>
    <li><p>Social media is a great tool but a company must be careful with how their employees use it</p></li>
    <li><p>Measures must be taken to make sure employees are not affected by phishing attacks</p></li>
    <li><p>Train employees to not overshare</p></li>
</ul>
{% endblock %}