{% extends 'base-course-next.html' %}

{% block content %}
<p> 
    Workers, depending on what they work as, may be asked to change settings in certain apps or sites.
</p>
<p>These include:</p>

<ul><li><p><b>Clearing cookies and caches to make certain data not get logged</b></p>
    <ul>
        <li><p><i>Cookies and Caches are ways data is stored in a browser</i>, they can be used for things like storing images to make a 
            site load faster or saving a shopping cart. They can, some times, include things like <b>session tokens</b> (used by sites to log in quickly), 
            which can be a cybersecurity issue</p></li>
    </ul>
    </li>

    <li><p><b>Changing settings in social media</b></p>
    <ul>
        <li><p>This includes mainly settings that disable data being shared to third parties.</p></li>
    </ul>
    </li>

    <li><p><b>Data minimization</b></p>
    <ul>
        <li><p>Making sure only the minimum data is provided when signing up to sites or apps</p></li>
    </ul>
    </li>

    <li><p><b>Encrypting data</b></p>
    <ul>
        <li><p>Designs for keycards</p></li>
        <li><p>IDs</p></li>
        <li><p>Legal documents</p></li>
    </ul>
    </li>

    <li><p><b>Strong passwords</b></p>
    <ul>
        <li><p><i>Some organizations even require employees to change passwords often to minimize any <i>current</i> passwords to be found in data breaches.</p></li>
    </ul>
    </li>

        <li><p><b>Public networks/devices</b></p>
    <ul>
        <li><p><i>Do not</i> use public devices or networks (at an internet cafe, for example) to log into accounts or to share confidential information.</p></li>
    </ul>
    </li>
</ul>

<p>Many more things may be included. Restrictions may be higher if an organization is especially secretive (government agencies, for example) or be virtually non-existent if 
    it doesn't matter (a cashier, per se).</p>

<h2>Summary</h2>
<ul>
    <li><p>Make sure settings in sites and apps are set to not share data</p></li>
    <li><p>Have strong passwords</p></li>
    <li><p>Never use public devices or networks anywhere to log in or send data</p></li>
</ul>
{% endblock %}