{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. Which of these is not a cybersecurity issue?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">Oversharing</label>
<label><input type="radio" class="radioButton" name="question_1" value="b">Blackmail</label>
<label><input type="radio" class="radioButton" name="question_1" value="c">Spear-phishing</label>
<label><input type="radio" class="radioButton" name="question_1" value="d">None of the above</label></div>

<div class="radioAlign"><p>2. Cookies or caches may contain what?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">Session tokens and IDs</label>
<label><input type="radio" class="radioButton" name="question_2" value="b">Images and IDs</label>
<label><input type="radio" class="radioButton" name="question_2" value="c">Session tokens and Images</label>
<label><input type="radio" class="radioButton" name="question_2" value="d">None of the above</label></div>

<div class="radioAlign"><p>3. Which of these are examples of social engineering?</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Phishing attacks</label>
<label><input type="radio" class="radioButton" name="question_3" value="b">Blackmailing</label>
<label><input type="radio" class="radioButton" name="question_3" value="c">Impersonation</label>
<label><input type="radio" class="radioButton" name="question_3" value="d">All of the above</label>
<label><input type="radio" class="radioButton" name="question_3" value="e">None of the above</label></div>

<div class="radioAlign"><p>4. True or False? An employee’s reputation (good or bad) may reflect on an organization’s reputation.</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">True</label>
<label><input type="radio" class="radioButton" name="question_4" value="b">False</label></div>

<div class="radioAlign"><p>5. Does spear-phishing target a broader or narrower group of people?</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">Broader</label>
<label><input type="radio" class="radioButton" name="question_5" value="b">Narrower</label></div>
{% endblock %}
