{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Some regulations exist to protect data, providing legal frameworks that mandate organizations to implement robust data protection practices to reduce the risk of data breaches.
</p>

<p>It is important to make sure companies who you work for or whose products you use are compliant with regulations such as GDPR or HIPAA and have no history of breaking them to make sure your data is not used in illegal, privacy denying ways.
</p>

<ol>
    <li><p><b>Risk Assessment: </b></p>
        <ul>
            <li><p>Organizations must identify vulnerabilities and implement mitigation strategies</p></li>
            <li><p><i>Storing data within another country may be a risk, but is allowed</i></p></li>
        </ul>
    <li><p><b>Third-Party Vendor Management: </b></p>
        <ul>
            <li><p>Require organizations to vet and manage practices of third party vendors who handle sensitive data</p></li>
        </ul>
    <li><p><b>Deletion upon request: </b></p>
        <ul>
            <li><p>Individuals have right to rectify and erase personal data</p></li>
        </ul>
    <li><p><b>Transparency: </b></p>
        <ul>
            <li><p>If a data breach occurs, the organization must notify customers ASAP</p></li>
        </ul>

</ol>

<p>Breaking such regulations can cause high fines (up to 10 million euros if violating GDPR).<br>
Penalties may also be inflicted whenever a data breach occurs. This is to make any organization place cybersecurity at a high priority.</p>


<h2>Summary</h2>
<ul>
    <li><p>Organizations are subjected to regulations </p>
        <ul><li><p>They make them prioritize cybersecurity, making consumers safer.</p></li></ul>
    </li>
    <li><p>Organizations must focus on privacy</p>
        <ul><li><p>They are disallowed from selling data to just anyone</p></li></ul>
    </li>
    <li><p>Avoid working for or being a customer of an organization who has broken such regulations in the past</p></li>

</ul>
{% endblock %}
