{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Organizational policies are a set of instructions or a specific way that something is done.
</p>

<p>An organization will likely use these to make employees not <i>mishandle data, what each role must be trained at, how to access systems, and how to respond to threats</i> (these include <b>Social Engineering, Denial of Service</b> attacks meant to make servers go down, and many more).

<p>These are important to mitigate risks, set expectations for employees, and to raise accountability in the workplace. They are also important for <b>standardization</b>, which is when something is made or done only a certain way. Standardization is important to not cause miscommunication and 
    make sure data or files are not wrongly used or classified.</p>

<p>As previously stated, a common policy includes data classification, which make sure all data is classified the same way, mostly through sensitivity levels (Refer to 5.1 <i>Understanding data classification</i> and handling to see examples of different standards for data classification)</p>

<p>Companies may also require employees to change passwords and have strong passwords. Another important one is <b>escalation</b>, where one brings an issue or ticket to someone ranked higher or more specialized than them.</p>


<h2>Summary</h2>
<ul>
    <li><p>Different companies have different policies.</p></li>
    <li><p>Most are meant to:</p>
        <ul><li><p>Heighten security</p></li></ul>
        <ul><li><p>Heighten privacy</p></li></ul>
        <ul><li><p>Handle issues/tickets more efficiently</p></li></ul>
    </li>
</ul>
{% endblock %}