{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. What is it called when you raise a ticket to someone higher ranked/more specialized?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">Grandification</label>
<label><input type="radio" class="radioButton" name="question_1" value="b">Urgencifying</label>
<label><input type="radio" class="radioButton" name="question_1" value="c">Escalation</label>
<label><input type="radio" class="radioButton" name="question_1" value="d">All of the above</label></div>

<div class="radioAlign"><p>2. Which of the following is an example of standardization?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">Data Classification protocols</label>
<label><input type="radio" class="radioButton" name="question_2" value="b">Password changings</label>
<label><input type="radio" class="radioButton" name="question_2" value="c">Dress codes</label>
<label><input type="radio" class="radioButton" name="question_2" value="d">All of the above</label></div>

<div class="radioAlign"><p>3. Which of these are not regulations/services an organization must provide under GDPR or HIPAA</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Transparency of data breaches</label>
<label><input type="radio" class="radioButton" name="question_3" value="b">Store data within the same country</label>
<label><input type="radio" class="radioButton" name="question_3" value="c">Deletion of data upon request</label>
<label><input type="radio" class="radioButton" name="question_3" value="d">None of the above</label></div>

<div class="radioAlign"><p>4. Breaking Europe's GDPR regulations may result in how high of a fine?</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">10 million euros</label>
<label><input type="radio" class="radioButton" name="question_4" value="b">10 million dollars</label>
<label><input type="radio" class="radioButton" name="question_4" value="c">1 million euros</label>
<label><input type="radio" class="radioButton" name="question_4" value="d">1 million dollars</label></div>

<div class="radioAlign"><p>5. True or false? How to deal with threats falls under Organizational Policy</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">True</label>
<label><input type="radio" class="radioButton" name="question_5" value="b">False</label></div>
{% endblock %}
