<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ urlTitle }}</title>
    {% block head %}{% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <!-- span to avoid weird div props -->
          <span>
          {% for category, message in messages %}
            <div class="flash-base {{ category }}">{{ message }}</div>
          {% endfor %}
          </span>
        {% endif %}
    {%  endwith %}
    <div id="header" class='noisy'>
        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" height="65px" width="162.5px">
        <div id="account">
            {{ current_user.username }}
            <img src="{{ url_for('static', filename='assets/images/account.svg') }}" height="30px" width="30px" id="account-icon">
        </div>
    </div>
    <div id="content">
        <div id="sidebar" class='noisy'>
            <span>
                <h4>Coursework</h4>
            
                {% set chapter_index = 0 %}
                {% set ns = namespace(alt=false) %}
                {% for section, articles in titles.items() %}
                <div class="dropdown {{ 'dropdown-alt' if ns.alt}} noisy">
                    <div class="{{ completion_data[titles_keys.index(section)] }} overlay"><p>{{ section }}</p></div>

                    <span class="{% if chapter == titles_keys.index(section) + 1 %}dropdown-active{% else %}dropdown-content{% endif %}">
                        {% for article in articles %}
                        <div class="{{ progress_data[titles_keys.index(section)][articles.index(article)] }} overlay"><p><a href="{{ url_for('viewArticle', chapter=titles_keys.index(section)+1, article=articles.index(article)+1) }}">{{ article }}</a></p></div>
                        {% endfor %}
                    </span>
                    {% for article in articles %}
                    
                    {% endfor %}
                </div>
                {% set chapter_index = chapter_index + 1 %}
                {% set ns.alt = not ns.alt %}
                {% endfor %}
            </span>

            <div id="navbar">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='assets/ui/home.svg') }}"class="navbar-icon">
                </a>
                <a href="{{ url_for('progress') }}">
                    <img src="{{ url_for('static', filename='assets/ui/progress.svg') }}"class="navbar-icon">
                </a>
            </div>
    </div>

    <div id="courseTextContainer">
        {% block content %}{% endblock %}
        {% block next %}{% endblock %}
    </div>
</body>
{% endautoescape %}
</html>