{% extends 'base-course.html' %}

{% block head %}
<title>OnGuard - Home</title>
{% endblock %}

{% block content %}
<div id="center-inner" class="background">
<div class="centerText barText left-align">
<h2>Welcome to OnGuard!</h2>
<p>OnGuard is an online workplace cyber security course which educates workers on how to stay safe using a computer and the internet,
    for your own security and your companys. This course will take you around 3 to 6 hours, and by the end of it you will be knowledgeable
    in maintaining proper cyber safety. Each chapter will take you 10 to 30 minutes, and at the end of it you will be quized on what you just
    learned. At the end of the course, you will take a final test, and after that you will be awarded a certificate of completion.</p>
<h2>The Developers of OnGuard</h2>
<p>OnGuard is developed by Jasper Haas, Ian Cunha, and Evan Curley, all of which competing as a team for the SkillsUSA leadership competition.
    This project is their project for this competition, and it has been created out of a passion for cyber security and in an effort to increase
    the general level of security knowledge in the workforce.
</p>
<img src="{{ url_for('static', filename='assets/images/theTeam.jpg') }}">
<br>
<h2>Using The Course</h2>
<p>To begin the course, go to the sidebar, and under the Coursework section, hover over <i>1.0 - Introduction to Cybersecurity</i>. You will
    continue through the course by continuesly the next button on the bottom of each article. 
    Under this section, select the first article, <i>1.1 Importance of Cybersecurity in the Workplace</i> to begin.</p>
<img src="{{ url_for('static', filename='assets/gifs/select-article-gif-tut.gif') }}" style="border-radius: 5px; margin: 5px; width: 45%; height: 45%;"><br>
</div>
</div>
{% endblock %}