{% extends 'base-login.html' %}

{% block head %}
<title>OnGuard</title>
{% endblock %}

{% block body %}
<div class="ver-container noisy">
    <img src="{{ url_for('static', filename='assets/images/logo.png') }}" height="100px" width="250px">
    
    <br><br><br><br><br>

    <div>
        <a href="{{ url_for('login') }}">
            <button type="button" class="b">
                Login
            </button>
        </a>

        <span></span>
        
        <a href="{{ url_for('register') }}">
            <button type="button" class="b">
                Register
            </button>
        </a>
    </div>
</div>
{% endblock %}