{% extends 'base-course-quiz.html' %}

{% block content %}
<div class="radioAlign"><p>1. What is the most common way employees can become a cybersecurity vulnerability?</p>
<label><input type="radio" class="radioButton" name="question_1" value="a">Poorly configured servers</label><br>
<label><input type="radio" class="radioButton" name="question_1" value="b">Human error and manipulation</label><br>
<label><input type="radio" class="radioButton" name="question_1" value="c">Outdated hardware</label><br>
<label><input type="radio" class="radioButton" name="question_1" value="d">Lack of software updates</label></div>

<div class="radioAlign"><p>2. What is a social engineering attack?</p>
<label><input type="radio" class="radioButton" name="question_2" value="a">Using malicious software to damage company systems</label><br>
<label><input type="radio" class="radioButton" name="question_2" value="b">Manipulating employees to reveal sensitive information</label><br>
<label><input type="radio" class="radioButton" name="question_2" value="c">Encrypting data for ransom</label><br>
<label><input type="radio" class="radioButton" name="question_2" value="d">Sending spam emails to employees</label></div>

<div class="radioAlign"><p>3. Which type of attack encrypts a company's data and demands payment for decryption?</p>
<label><input type="radio" class="radioButton" name="question_3" value="a">Phishing</label><br>
<label><input type="radio" class="radioButton" name="question_3" value="b">Spyware</label><br>
<label><input type="radio" class="radioButton" name="question_3" value="c">Ransomware</label><br>
<label><input type="radio" class="radioButton" name="question_3" value="d">Social engineering</label></div>

<div class="radioAlign"><p>4. What is an insider threat?</p>
<label><input type="radio" class="radioButton" name="question_4" value="a">A threat caused by malicious software</label><br>
<label><input type="radio" class="radioButton" name="question_4" value="b">A cybercriminal attacking from outside the organization</label><br>
<label><input type="radio" class="radioButton" name="question_4" value="c">A threat from employees, either accidentally or intentionally</label><br>
<label><input type="radio" class="radioButton" name="question_4" value="d">A technical flaw in a company's security system</label></div>

<div class="radioAlign"><p>5. Why is it important to protect against these cybersecurity threats?</p>
<label><input type="radio" class="radioButton" name="question_5" value="a">They can only harm a company’s hardware.</label><br>
<label><input type="radio" class="radioButton" name="question_5" value="b">They only affect the company’s reputation.</label><br>
<label><input type="radio" class="radioButton" name="question_5" value="c">They can harm both the company and its customers.</label><br>
<label><input type="radio" class="radioButton" name="question_5" value="d">They are rare and not very impactful.</label></div>
{% endblock %}
