{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	Something many of us have seen, likely in movies, are the elusive Top Secret documents the protagonist is shocked at seeing. This is an example of <i>Data Classification.</i>

</p>
<img src="https://tse2.mm.bing.net/th/id/OIP.ns2YnbcqktBwCR5AMwW1eAHaE8?rs=1&pid=ImgDetMain" width="30%">
<p class="source">https://depositphotos.com</p>
<p>In the real world, people typically don't use Top Secret, instead opting to </p>

<ol>
    <li><p>Confidential		    /	Restricted		    /		Level I</p></li>
    <li><p>Internal Use Only	/	Sensitive		    /		Level II</p></li>
    <li><p>Public			    /	Unrestricted		/		Level III</p></li>
</ol>

<p>Confidential data is illegal to share publicly. This is called a data breach and is sometimes an example of <b>breach of contract.</b></p>

<p>Data with a higher level of confidentiality should be treated with more care and caution as it likely contains <b>sensitive data the public or a competitor should not 
    know or cannot legally know</b>. An example would be not transferring data over a public network. Confidential documents one is likely to see are:</p>
<ul>
    <li><p>Attorney-client communications</p></li>
    <li><p>Medical records</p></li>
    <li><p>Financial records</p></li>
    <li><p>Patents</p></li>
</ul>

<p>Additionally, data that is necessary or whose availability is needed should also be handled with care. <b>Frequent backups are recommended.</b></p>

<p>As for how the data is handled, that varies between organizations and protection level. <b>A good resource for finding what each protection level’s 
    handling practices can be found <a href="https://policy.ku.edu/IT/data-classification-handling-procedures">here.</a></b></p>

<p>Information in classified documents may accidentally be leaked due to Social Engineering, making it important to let employees know what they can 
    and can’t say. <b>A lawyer is recommended</b> if you want to find anything you can say and when.</p>

<h2>Summary</h2>
<ul>
    <li><p>Protected/sensitive documents must be handled with caution</p></li>
    <li><p>It is illegal to share these documents to someone disallowed to view them.</p></li>
    <li><p>If you or your company often deal with classified documents, get a lawyer.</p></li>
    <li><p>Backup vital files</p></li>
</ul>
{% endblock %}