{% extends 'base-course-next.html' %}

{% block content %}
<p>At this point, cloud technology has been around for over a decade, and most are familiar with it. <strong>Applications like One Drive and Google Drive are now very prevalent</strong>, and by being able to use them to hold, edit, and share files easily they have proven their worth. However, because of how cloud technology centralizes and stores all this information separately and <strong>how it can be easy to grant access to these files, one needs to be aware on how to use cloud technology safely.</strong></p>
<p><strong>The major vulnerabilities to look out for in regard to cloud technology is phishing attempts.</strong> Nowadays, many phishing attempts might be made to look like they source from within a company, and are just a coworker trying to share a file over the cloud. One needs to be on a lookout for such emails, <strong>as because of how common the practice is of sharing documents in this way it can be quite easy to fall for an attack like that.</strong></p>
<p>Additionally, one should be careful when sharing files over the cloud for collaborative work or reference, as there are instances where bad actors try to get unauthorized information shared to them.</p>
<p>A common misconception that many have <strong>is that files held on the cloud cannot be malicious, but this is very wrong.</strong> Most services don’t have the best ways of checking for malicious files, so treat files that you download from the cloud with the same caution of which you treat files that you would download from other places.</p>
<p>Generally speaking, a good guideline to go with in regards to cloud technology is to <strong>treat it with the same precautions you treat your own devices with.</strong></p>

<h2>Summary</h2>
<ul>
    <li><p>Use cloud technology securely</p></li>
    <li><p>Beware of phishing and giving unauthorized access</p></li>
    <li><p>Be careful with download files from the cloud</p></li>
    <li><p>Treat cloud technology the same way you treat personal devices</p></li>
</ul>
{% endblock %}
