{% extends 'base-course-next.html' %}

{% block content %}
<p> 
	In the modern world, <strong>it is often the case that a worker might often work from home instead of a physical location.</strong> When working away from a traditional work environment, it is easy to forget that one still has to maintain their cyber security. The following are some common mistakes to avoid when working from home:
</p>

    <ul>
        <li><p><b>Physically writing down passwords:</b></p>
            <ul>
                <li><p>Physically writing down one's passwords is <strong>a mistake that is made both at home and in the office, but should always be avoided.</strong> This is because if you write down passwords and someone sees it, they can then use your login credentials. There are many cases where this has been done maliciously, and because it is such an easy risk to mitigate, one should avoid doing this, even at home where the risk might not seem as that large.</p></li>
            </ul>    
    </ul>
    <ul>
        <li><p><b>Neglecting security on personal devices:</b></p>
            <ul>
                <li><p>If you work from home with a personal device, <strong>this device should also be protected just as you would a work device,</strong> as it could also be an entry point for cyber criminals. Ideally, one would have seperate devices for work and personal life, but this isn’t always the case.</p></li>
            </ul>    
    </ul>
    <ul>
        <li><p><b>Not reporting attacks on personal devices used for work:</b></p>
            <ul>
                <li><p>If you are under the suspicion that a piece of malware or a cyber attack has taken information from your personal device that you also use for work, <strong>inform your company's IT department.</strong> There is often a risk that the attack was intentionally done to steal work related data, <strong>and this can be crucial if left unchecked.</strong></p></li>
            </ul>    
    </ul>
    <ul>
        <li><p><b>Don’t share personal devices used for work:</b></p>
            <ul>
                <li><p>Just as you don’t physically write down your credentials, <strong>you don’t share devices used for work, personal or not.</strong> Doing so creates the risk of a potential bad actor using your device for malicious reasons.</p></li>
            </ul>    
    </ul>
<h2>Summary</h2>
<ul>
    <li><p>Avoid writing down passwords to prevent unauthorized access</p></li>
    <li><p>Secure personal devices if used for work</p></li>
    <li><p>Report any cyber threats on personal work devices to IT</p></li>
    <li><p>Do not share work devices to maintain security</p></li>
</ul>
{% endblock %}
